$--main-background-color : rgb(21, 32, 43);
$--main-hover-color : rgba(56, 68, 77,0.8);
$--main-color : #f7f9f9;
$--main-border-color : rgb(56, 68, 77);


.header{
    width: 250px;
    height: 100%;
    padding: 0 12px;
    position: sticky;
    top: 0px;
    


    &-img-wrapper{
        width: max-content;
        padding: 6px;
        margin-bottom: 3px;
        display: flex;
        align-items: center;
        font-size: 20px;
        border-radius: 9999px;

        &:hover{
            background-color: $--main-border-color;
        }

        &-img{
            width: 50px;
        }
    }


    &-ul-li{
        width: max-content;
        padding: 12px 20px 12px 12px;
        

        border-radius: 9999px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 20px;
        cursor: pointer;

        &:hover{
            background-color: $--main-hover-color;
            
        }

        svg{
            width: 20px;
            margin-right: 16px;
            color: $--main-color;
        }
    }
}

